
@media (min-width: 360px) and (max-width: 510px)  {


.about .about-title{

  color: #fadd19;
  font-family: Calibri;
  text-align: center;
  font-size: 30px;
}

.about .about-text{
  font-family: Calibri;
  text-align: center;
  margin-top: 1%;
  font-size: 15px;
  padding-right: 5%;
  padding-left: 5%;
  color :#000000;
  line-height: 100%;
}

.why .why-title{
  padding-top: 2%;
  text-align: center;
  font-size: 30px;
  font-family: Calibri;
  color :#000000;
}

.why .why-text-left{
  margin-top: 1%;
  text-align: center;
  font-size: 16px;
  font-family: Calibri;
  padding-right: 5%;
  padding-left: 27%;  
  color :#000000;
  line-height: 120%;
}

 .why .why-text-right span{
  color :#000000;
  font-size: 18px;
} 


.why .why-text-left{

  padding-right: 1%;
  padding-left: 5%;  
  color :#000000;
}

.courses .courses-title{
  padding-top: 2%;
  text-align: center;
  font-size: 30px;
  font-family: Calibri;
  color :#000000;
}

.courses .courses-sub{
  padding-top: 2%;
  text-align: center;
  font-size: 16px;
  font-family: Calibri;
  color :#000000;
  line-height: 120%;
}

.announcements .announcements-title{
  padding-top: 2%;
  text-align: center;
  font-size: 30px;
  font-family: Calibri;
  color :#000000;
}
.announcements .announcements-sub{
  padding-top: 2%;
  text-align: center;
  padding-right: 16%;
  padding-left: 16%;
  font-size: 16px;
  font-family: Calibri;
  color :#000000;
  line-height: 120%;
}


.awards .top_text{
  text-align: center;
  margin-top: -2%;
  font-family: calibri;
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.awards .bottom_text{
  color:black;
  text-align: center;
  margin-top: 2%;
  font-family: calibri;
  font-size: 20px;
  font-weight: bold;
}

.testimonials .testimonials-title{
  padding-top: 2%;
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-family: Calibri;
}

.testimonials .testimonials-sub{
  padding-top: 1%;
  text-align: center;
  padding-right: 16%;
  padding-left: 16%;
  font-size: 16px;
  font-family: Calibri;
  color :#000000;
  line-height: 120%;
}

.testimonials .testimonials-content{
  margin-top:0%;
}
.testimonials .qoute{
  padding-right :1%;
  padding-left :1%;
  font-family: Rockwell, "Courier New", Courier, Georgia,
                 Times, "Times New Roman", serif;
  font-size: 80px;
}

.testimonials .testimonials-text{
  padding-right :15%;
  margin-top: -10%;
  margin-bottom: -5%;
  padding-left :15%;
  font-size: 16px;
  font-family: Calibri;
  color :#000000;
  text-align: center;
  line-height: 120%;
}


.footer .footer-text {
  padding-right :0px;
  margin-top:-20px; 
    margin-bottom: -10%;
  
}
.footer .footer-text p {
  margin-top:-20px;
  margin-bottom: -15%;
}
.footer-end{
  background-color: #fee640;
  color:#000000;
  padding-top: 4px;
  text-align: center;
  padding-left : 0; 
  padding-right : 0;

  padding-bottom: 10px;
  line-height: normal;
  font-size: 12px;
  font-family: Calibri; 
}
.footer .footer_logo{
  padding-top: 3%;
  margin-left: 20%;

}
.footer .footer_logo .imgs{
  width : 70%;
}

.footer .row{
  padding-bottom: 15%;
}

.footer .footer-title{
  margin-top:2%;
  font-size: 25px;
  font-family: Calibri;
  line-height: normal; 
  color: #fee640;
  text-transform: uppercase;
  position: relative;

}



.statistics{
  margin-top: 4%;
  background-color: black;
  height: 750px;
}

.statistics .content {
  border-color: yellow;
  border-style:solid;
  border-radius:80px;
  width: 160px; 
  height: 160px;
  margin-left:28%;
  margin-top: 20px; 
}

.statistics .content .serviceicon {
  font-size: 60px; 
  color:yellow;
  margin-left: 2%;"
}

}