
.about{

  padding-bottom: 5%;



}
.about .vision{
  color: #30302f;
  text-align: center;
  font-size: 60px;
}
.about .mission{
  color: #30302f;
  text-align: center;
  font-size: 60px;
}

.about .goals{
  color: #30302f;
  text-align: center;
  font-size: 60px;
}

.about .about-title{
  margin-top: -6%;
  color: #30302f;
  font-family: Calibri;
  text-align: center;
  font-size: 41px;
}

.about .about-text{
  font-family: Calibri;
  margin-top: 3%;
  text-align: center;
  margin-top: 5%;
  font-size: 24px;
  padding-right: 5%;
  padding-left: 5%;
  color :#000000;
}


.why .why-title{
  padding-top: 2%;
  text-align: center;
  font-size: 38px;
  font-family: Calibri;
  color: black;
}

.why .why-text-left{
  margin-top: 5%;
  text-align: center;
  font-size: 20px;
  font-family: Calibri;
  padding-right: 8%;
  padding-left: 27%;  
  color: black;
}

 .why .why-text-right .icon{
  color: #fadd19;
  font-size: 35px;
  line-height: normal;
} 

 .why .why-text-right span{
  color :#000000;
  font-size: 24px;
} 

.why{
  padding-bottom: 4%;


}
.courses .courses-content{
  margin-top: 3%;
}
.courses .courses-title{
  padding-top: 2%;
  text-align: center;
  font-size: 38px;
  font-family: Calibri;
  color :black;
}

.courses .courses-sub{
  padding-top: 2%;
  text-align: center;
  padding-right: 16%;
  padding-left: 16%;
  font-size: 24px;
  font-family: Calibri;
  color :#000000;
}
.courses .card-footer-title{
  font-size: 24px;
  font-family: Calibri;
  color :#000000;
  text-align: center;
}

.courses .card-footer-text{
  padding-top: 10px;
  font-size: 18px;
  font-family: Calibri;
  color :#000000;
  text-align: center;
}

.courses #one-course{
  margin-top: 15%;
  background-color: #fee640;
  text-align: center;
  font-size: 21px;
  width : 130px;
  font-family: Calibri;
  color :black;
}

.courses #all-courses{
  margin-top: 4%;
  background-color: black;
  text-align: center;
  font-size: 18px;
  width : 180px;
  font-family: Calibri;
  color :#fee640;
}

.top-stat{
    padding-top: 4%;
   background-color: #cbcbcb;
}
.statistics{

  background-color: black;
  height: 200px;
}

.statistics .content {
  border-color: yellow;
  border-style:solid;
  border-radius:80px;
  width: 160px; 
  height: 160px;
  margin-left:23%;
  margin-top: 20px; 
}

.statistics .content .serviceicon {
  font-size: 60px; 
  color:yellow;
  margin-left: 4%;"
}
.statistics .content .title {

 color: yellow; 
 margin-top: 70px; 
 line-height: 1.6;
 text-align: center;
}

.statistics .content .title h6 {
  margin-top: -18%;

}
.announcements .announcements-title{
  padding-top: 2%;
  text-align: center;
  font-size: 38px;
  font-family: Calibri;
  color :black;
}

.announcements .announcements-sub{
  padding-top: 2%;
  text-align: center;
  padding-right: 16%;
  padding-left: 16%;
  font-size: 24px;
  font-family: Calibri;
  color :#000000;
}
.announcements .announcements-content{
  margin-top: 7%;
}
.announcements #one-announcement{
  background-color: black;
  color : #fee640;
  font-size: 20px;
  font-weight: bold;
  font-family: Calibri;
  border-style:solid;
  border-color: black;
}
.announcements .card-footer-title{
  color: #787878;
  font-size: 24px;
  font-weight: bold;
  font-family: Calibri;
}

.announcements .card-footer-text{
  color: #000000;
  font-size: 20px;
  font-family: Calibri;
  margin-top :5%;
  font-weight: 5px;
}

.announcements #announcements-readmore{
  color: black;
  background-color: #fee640;
  font-size: 20px;
  font-family: Calibri;
  width:130px;
  font-weight: bold;
  margin-top: 10%;
}

.top-awards{
  background-color: #cbcbcb;
  padding-top : 10%;
}
.awards{

  height : 150px;
  background-color: #fee84d;
}

.awards .imgs{
  margin-top: -7%;
  width: 100%;
}
.awards .top_text{
  text-align: center;
  margin-top: -8%;
  font-family: calibri;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.awards .bottom_text{
  color:black;
  text-align: center;
  margin-top: 2%;
  font-family: calibri;
  font-size: 25px;
  font-weight: bold;
}


.testimonials{
  background-color: #f5f5f5;
  height: auto;
  padding-bottom: 10%;
}
.testimonials .testimonials-title{
  padding-top: 3%;
  color:black;
  text-align: center;
  font-size: 38px;
  font-family: Calibri;
}


.testimonials .testimonials-sub{
  padding-top: 1%;
  text-align: center;
  padding-right: 16%;
  padding-left: 16%;
  font-size: 22px;
  font-family: Calibri;
  color :#000000;
}

.testimonials .testimonials-content{
  margin-top:-5%;
}
.testimonials .qoute{
  padding-right :15%;
  padding-left :15%;
  font-family: Rockwell, "Courier New", Courier, Georgia,
                 Times, "Times New Roman", serif;
  font-size: 150px;
}

.testimonials .testimonials-text{
  padding-right :15%;
  margin-top: -10%;
  margin-bottom: -5%;
  padding-left :15%;
  font-size: 21px;
  font-family: Calibri;
  color :#000000;
  text-align: center;
}

 .item {
            background: #333;
            text-align: center;
            height: 300px;
        }
        h2 {
            margin: 0;
            color: #888;
            padding-top: 80px;
            font-size: 30px;
        }

.footer{
  background-color: black;
  color: white;
}
.footer .footer-text {
  padding-right :0px;
  margin-top:-20px; 
}
.footer .footer-text p {
  margin-top:-20px;
  padding-bottom: 7%;
}

.footer-end{
  background-color: #fee640;
  color:#5c0008;
  text-align: center;


  padding-top: 15px;
  padding-bottom: 10px;
  line-height: normal;
  font-size: 21px;
  font-family: Calibri; 
}
.footer .footer_logo{
  padding-top: 50%;
}
.footer .footer_logo .imgs{
  width : 100%;
}
.footer  a .fa{
  margin-top:7px;
  font-size: 24px;
  display: inline-block;
  background: #fee640;
  color: black;
  padding: 7px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.footer a span{
    font-size: 16px;
    padding-right: 2%;
}
.footer .icon{
  margin-top :10px;
  font-size: 18px;
  font-family: Calibri;
}

.footer .ion-play{
  color: #fee640;
}
.footer span{
  padding-left: 8px;
}
.footer a{
  color :white;
  font-size: 18px;
  font-family: Calibri;
}

.footer .footer-title{
  padding-top: 20px;
  font-size: 30px;
  font-family: Calibri;
  line-height: normal; 
  color: #fee640;
  text-transform: uppercase;
  position: relative;

}
.footer .footer-title p ::before, .footer .footer-title  p::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
}

.footer .footer-title p::before {
  right: 0;
  background: red;
}

.footer .footer-title p::after {
  background: #ffffff;
  width: 90px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.division{
  text-align: center;
  color: white;
  font-size: 40px;
  padding:30px;
  font-family: Rockwell;
  background-image: url('../imgs/about-image.png');
  height: auto;
}


.about-eod .title-left{
  font-family: calibri;
  font-size: 22px;
  font-weight: bold;
  color:black;
  padding-left: 10%;
  padding-top: 5%;
  position: relative;
}

.about-eod .content{
  margin-top: -15px;
  font-family: calibri;
  font-size: 19px;
  color:black;
  padding-left: 10%;
  /*padding-bottom:13%;*/
}


.about-eod .title-left p ::before, .about-eod .title-left p::after {
  content: '';
  position: absolute;
  left: 0;
  margin-left: 10%;
  bottom: 0;
  height: 3px;
}

.about-eod .title-left p::before {
  right: 0;
  background: red;
}

.about-eod .title-left p::after {
  background: #ffffff;
  width: 45px;
}


.about-eod .title-right{
  font-family: calibri;
  font-size: 22px;
  font-weight: bold;
  color:black;
  padding-left: 2%;
  position: relative;
}
.about-eod .top-margin{
  margin-top: 5%; 
}
.about-eod .content-right{
    padding-bottom: 2%;
  font-family: calibri;
  font-size: 20px;
  color:black;
  padding-left: 2%;
  margin-top: -25px;
}




.about-eod  .title-right p ::before, .about-eod  .title-right p::after {
  content: '';
  position: absolute;
  left: 0;
  margin-left: 2%;
  bottom: 0;
  height: 3px;
}

.about-eod  .title-right p::before {
  right: 0;
  background: red;
}

.about-eod  .title-right p::after {
  background: #fee84d;
  width: 45px;
}




.about-badges .title{
  padding-top: 2%;
  text-align: center;
  font-size: 41px;
  font-family: Calibri;
}
.about-badges .sub{
  text-align: center;
  font-size: 22px;
  font-family: Calibri;
  text-align: center;
  padding-left: 28%;
  padding-right:28%;
}

.about-badges .content .badges{
  margin-left: 18%;
  background-color: #dbdbdb;
  padding: 5%;
}

.about-badges .content .title-right{
  color: black;
  font-size: 26px;
  text-align: left;
  margin-left: -10%;
}
.about-badges .content .content-right{
  color: black;
  font-size: 16px;
  text-align: left;
  margin-left: -10%;
  margin-top: -10%;
}


.about-badges .content .title-left{
  color: black;
  font-size: 26px;
  text-align: right;
  margin-right: -10%;
}
.about-badges .content .content-left{
  color: black;
  font-size: 16px;
  text-align: right;
  margin-right: -10%;
  margin-top: -10%;
}

.about-officials{
  background-color: #f7f7f7;

}
.about-officials .title{
  padding-top: 2%;
  font-size: 41px;
  font-family: Calibri;
  text-align: center;
}
.about-officials .sub{
  text-align: center;
  font-size: 22px;
  font-family: Calibri;
  text-align: center;
  padding-left: 28%;
  padding-right:28%;
}

.about-officials .content{
  margin-top: 8%;
  padding-bottom: 5%;
}

.about-officials .content .imgs {
  margin-top: -40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}
.about-officials .content .official-name {
  color:black;
  text-align: center;
  font-family: calibri;
  font-size: 25px;
  line-height: 90%;
}
.about-officials .content .official-position {
  color:black;
  text-align: center;
  font-family: calibri;
  font-size: 20px;
  font-style: italic;
}

.about-officials .content .official-description {
  color:black;
  text-align: center;
  font-family: calibri;
  font-size: 18px;
  font-style: justify;
  line-height: 120%;
}

/*.statistics .servicecircle{
  font-size: 70px;
     font-weight:lighter;
  color :yellow;
}
*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
.error{
  color:red}
a {
  color: #2196f3;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #18d36e;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #fee640;
  color: #fff;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  border: 5px;
  border-style: solid none solid none;
   border-image: radial-gradient(#fffbf2, #f5a400, #fffefc);
  border-image-slice: 1;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index:1;
  margin-top: 5%;
  /*background-color: #5c0008;*/
    background-color: black;
  height: 60px;


}

.header {
  left: 0;
  top: 0;
  right: 0;
  z-index: -999;
  transition: all 0.5s;

  width: 100%;
  height: 77px;

}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  /*border-radius: 0%;*/
}
.carousel-indicators .active{
    background-color: #fee640;
}
#header .imgcenter
{
  position: relative;
  top:-5px;
}
/*#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}*/

#header #logo {
  float: left;
}

@media (min-width: 1024px) {
  #header #logo {
    padding-left: 60px;
  }
}

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family:  'Exo', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #2196f3;
}

#header #logo img {
  padding: 0;
  margin: 0;
} 

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background: #000;
}
#intro-label{
  font-family: 'Exo', sans-serif;
 
}


#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-content {
  text-align: center;
}

#intro h2 {
  color: #fff;
  margin-bottom: 1px;
  font-size: 8em;
  font-weight: 700;
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 55px;
  }
}

#intro h4 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing:20px;
  font-family:calibri;
}

@media (max-width: 768px) {
  #intro h4 {
    font-size: 15px;
    letter-spacing:5px;
  }
}

#intro h5 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 100;
  letter-spacing:10px;
  font-family:calibri;
  font-weight: 450;
  text-shadow: 2px 4px #000;
}

@media (max-width: 768px) {
  #intro h5 {
    font-size: 15px;
    letter-spacing:5px;
  }
}

#intro p {
  width: 100%;
  margin: 0 auto 30px auto;
  color: #fff;
}

@media (min-width: 1024px) {
  #intro p {
    width: 2em;
  }
}

#intro .carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}



#intro .btn-get-started {
  font-family:  'Exo', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #2196f3;
}

#intro .btn-get-started:hover {
  background: #fff;
  color: #2196f3;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;

}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: left;
  margin: 0;
  left: 33%;
}

@media (min-width: 1024px) {
  #nav-menu-container {
    padding-right: 60px;
  }
}

@media (max-width: 817px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #fee84d;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #2196f3;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 2% 20px 0 0;
  border: 0;
  background: none;
  font-size: 34px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;

}

#mobile-nav-toggle i {
  color:black;
}

@media (max-width: 817px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  bottom:150px;
  position: relative;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #2196f3;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #2196f3;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/

.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #2196f3;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #f7f7f7;
}


/* About Us Section
--------------------------------*/
#about {
  background:white;
  padding: 60px 0 40px 0;
  position: relative;
  text-align: center;
  height: auto;
}

#about::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#about .container {
  position: relative;
  z-index: 10;
}

#about .about-col {

  margin-bottom: 50px;
}

#about .about-col .img {
  position: relative;
}

#about .about-col .img img {
  border-radius: 4px 4px 0 0;
}

#about .about-col .icon {
  height: 75px;
  width: 75px;
  position: absolute;
  background-color: #2196f3;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -60px;
  transition: 0.3s;
}
ul.a {
  list-style: none;
  color: rgb(33,150,243);
}

#about .about-col i {
  top: 7px;
  position: relative;
  font-size: 45px;
  line-height: 1.1;
  color: #fff;
  transition: 0.3s;
}

#about .about-col:hover .icon {
  background-color: #fff;
}

#about .about-col:hover i {
  color: #2196f3;
}

#about .about-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}
#about .about-col h2 a {
  
  color: #000;
}

#about .about-col h2 a:hover {
  color: #2196f3;
}

#about .about-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

/* Services Section
--------------------------------*/
#services {
  background:  url("../img/tech4.jpg") center top no-repeat fixed;
  background-size: cover;
  position: relative;
  text-align: justify;
}
#services::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}
#services .container {
  position: relative;
  z-index: 10;
}

#services h3{

  padding-top: 75px;
}
#services .box {
  margin-bottom: 30px;
}

#services .icon  {
  height:auto;
  display: relative;
  margin-left: 7rem;
  margin-right: auto;
  max-width:100px;
  text-align: center;
  
  
}
@media (max-width: 767px) {
  #services .icon  {
    height:auto;
    display: block;
    margin-left: 12rem;
    margin-right: auto;
    max-width:100px;
    text-align: center;
      
  }

}
#services img  {
  height:120px;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #2196f3;
}

#services .description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}




/* Clients Section
--------------------------------*/
#clients {
  padding: 60px 0;
  background: rgba(0, 0, 0, 0.1);
  background-color: #dddddd
}

#clients img {
  max-width: 130%;
  
  transition: 0.1s;
  padding: 15px 25px;
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav, #clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:  #3E4D58
}

#clients .owl-dot.active {
  background-color: #2196f3;
}

/* Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 60px 0;
}
#team h5{
  margin-top: 10px;
  text-align: center;
  font-size: 15px}
#team p
{
  font-size: 14px;
  position: relative;
  bottom: 15px;
  text-align: center;
}
#team img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  border-radius: 50%;
}
#team .parttimer
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  border-radius: 50%;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}


#team .member .member-info {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

#team .member .member-info-content {
  margin-top: -50px;
  transition: margin 0.2s;
}

#team .member:hover .member-info {

  opacity: 1;
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #2196f3;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contact {
  padding: 60px 0;
  background-color: #dddddd
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #2196f3;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #2196f3;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

#contact .form #sendmessage {
  color: #2196f3;
  border: 1px solid #2196f3;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: #2196f3;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]:hover {
  background: #13a456;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #2196f3;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #111;
  padding: 60px 0 30px 0;
}


#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #2196f3;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: #2196f3;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #2196f3;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #2196f3;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #13a456;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
